.footer {
  max-width: 1080px;
  margin-inline: auto;
  padding: 45px;
  margin-bottom: 45px;
  background-color: #fff;
  border-radius: 0 0 20px 20px;
  display: flex;
  justify-content: space-between;

  a {
    color: #000;
    text-decoration: none;
    transition: color .2s ease-in-out;

    &:hover {
      color: rgba(0, 0, 0, .5);
    }
  }
}
